.outer-circle,.inner-circle {
  height: 100%;
  border-radius: 50%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.outer-circle {
  border: 10px solid white;
  // transform: scale(100%);
}

.inner-circle {
  background-color: magenta;
  // transform: scale(80%);
}

.center-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
}
