<ng-container *ngIf="breathOption">
  <div
    class="outer-circle"
    [@outerCircleAnimation]="{
      value: isInhaling ? 'full' : 'empty',
      params: {
        inhaleTime: breathOption.inhaleTime,
        inhaleHoldTime: breathOption.inhaleHoldTime?breathOption.inhaleHoldTime:0,
        exhaleTime: breathOption.exhaleTime,
        exhaleHoldTime: breathOption.exhaleHoldTime?breathOption.exhaleHoldTime:0,
      }
    }"
    (@outerCircleAnimation.done)="toggleState($event)"
  >
    <div class="inner-circle"></div>
  </div>
</ng-container>
<ng-container *ngIf="!breathOption">
  <div class="center-text"><h1>Select the breathing exercise</h1></div>
</ng-container>
